#==[Symfony]==========================#
/src/symfony2/web/bundles/
/src/symfony2/app/bootstrap.php.cache
/src/symfony2/app/cache/*
/src/symfony2/app/logs/*
!/src/symfony2/app/cache/.gitkeep
!/src/symfony2/app/logs/.gitkeep

#==[Composer]=========================#
#/src/symfony2/composer.phar
/src/symfony2/vendor/*
/src/symfony2/vendor/composer/*
/src/symfony2/composer.lock

#==[IDE]==============================#
.buildpath
.settings/
.project
.nbproject/

#==[CI generated artifacts]===========#
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/src/symfony2/cov
