#==[Symfony]==========================#
/app/bootstrap.php.cache
/bin
/web/bundles/
/web/images/
/web/img/
/web/upload/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
!/app/cache/.gitkeep
!/app/logs/.gitkeep
/app/SymfonyRequirements.php

#==[Vendor]===========================#
/vendor/*
/node_modules/*
/bower_components/*
/web/built/*
/web/js/*
/web/css/*
/web/fonts/*
/web/sound/*

#==[IDE]==============================#
.buildpath
.settings/
.project
.nbproject/

#==[CI generated artifacts]===========#
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/cov

#==[MOADMIN]==========================#
/web/moadmin.php

#==[VAGRANT]==========================#
.vagrant/

#==[CAPISTRANO]==========================#
.capistrano/

#==[CODE COVERAGE]====================#
/coverage/

#==[COMPOSER]=========================#
/composer.phar

#==[JMETER]==========================#
jmeter.log
