language: php

services:
  - redis-server
  - mongodb

php:
  - 5.4

env:
  matrix:
    - MONGO_REPO="http://repo.mongodb.org/apt/ubuntu $(lsb_release -sc)/mongodb-org/3.0 multiverse"
    - MONGO_REPO="http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen"
  fast_finish: true

before_install:
  - printf "\n" |pecl install imagick
  - phpenv config-add .travis.php.ini
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10
  - echo "deb ${MONGO_REPO}" | sudo tee /etc/apt/sources.list.d/mongodb.list
  - sudo apt-get update

install:
  - sudo apt-get install mongodb-org-server
  - composer install

before_script:
  - sudo mkdir -p /var/uploaded-files && sudo chmod -R a+w /var/uploaded-files
  - until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done
  - php app/console doc:mo:f:l -e=test

script: phpunit -c app/
