#myMainMenu, #myMainMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#myMainMenu {
    width: 810px;
    margin: auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    margin-top: 20px;
    
}

#myMainMenu:before,
#myMainMenu:after {
    content: "";
    display: table;
}

#myMainMenu:after {
    clear: both;
}

#myMainMenu {
    zoom:1;
}

#myMainMenu li {
	float: left;
/*     border-right: 1px solid #222; */
/*     box-shadow: 1px 0 0 #444; */
    position: relative;
  
}

#myMainMenu li:last-child {
   
    border-right: 0;
    box-shadow: 0;
    
}

#myMainMenu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#myMainMenu li:hover > a {
    color: #fafafa;
}

*html #myMainMenu li a:hover { /* IE6 only */
    color: #fafafa;
}

#myMainMenu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#myMainMenu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#myMainMenu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#myMainMenu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#myMainMenu ul li:last-child {   
    box-shadow: none;    
}

#myMainMenu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#myMainMenu ul a:hover {
    background-color: #89b245;
    background-image: linear-gradient(#9dcc4d, #89b245);
}

#myMainMenu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#myMainMenu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#myMainMenu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#myMainMenu ul li:first-child a:hover:after {
    border-bottom-color: #9dcc4d; 
}

#myMainMenu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#myMainMenu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}