/* RESET */

table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	border:0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal
}
ol, ul, li {
	list-style:none
}
caption, th {
	text-align:left
}

q:before, q:after {
	content:''
}
/* Global reset-RESET */

/* The below restores some sensible defaults */

strong {
	font-weight: bold
}
em {
	font-style: italic
}
a img {
	border:none
} /* Gets rid of IE's blue borders */