parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    default_locale:            en
    secret:            SRiesraIEURNSTeiuRnsAIErnsEA

    router.request_context.host: admin.openorchestra.dev
    router.request_context.base_url: /app_dev.php

    open_orchestra_cms.mongodb.server: mongodb://localhost:27017
    open_orchestra_cms.mongodb.database: open_orchestra_%kernel.environment%
    encryption_key: NStUAIRNUAIs3154rsaierSTR

    media.directory: /var/uploaded-files

    session_name: open_orchestra_session

    fos_http_cache.proxy_client.varnish.servers: [127.0.0.1]
    fos_http_cache.proxy_client.varnish.base_url: %router.request_context.host%
