---
- name: Copy Varnish openorchestra VCL.
  template: >
    src=openorchestra.vcl.j2
    dest={{ varnish_config_path }}/openorchestra.vcl
    owner=root group=root mode=644
  notify: restart varnish

- name: Copy Varnish configuration.
  template: src=varnish.j2 dest=/etc/default/varnish owner=root group=root mode=0755
  notify: restart varnish
