[push]
        default = current

[alias]
        lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative

[branch]
        autosetuprebase = always