-----BEGIN CERTIFICATE-----
MIICATCCAWoCCQDVwbfuCxBCUDANBgkqhkiG9w0BAQUFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE1MDIxOTEwMTYwM1oXDTE2MDIxOTEwMTYwM1owRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAyBLP
KFOseqtECUJ12MH+1E7MKOnrLISy4rbbxUNoWV6D8xRHY6AdsltXZkroJ2Bovi3O
mjYSX4uWew+jxz4N0A2jo68Xzw7g59Kyj80FXeFxoI0/aGfurs9t8U6Zfrp4Imuz
bRn5Qv8RhFtut/QnD7mnYRaZijV4LSqpG+fnJPMCAwEAATANBgkqhkiG9w0BAQUF
AAOBgQBoALlSm3H5zgYaG7a15lB9LwdCigwxrk8Xl5CkD1A6cCcPDQldQPV7JmEK
tIs8YMVaNYgCgU2WHTD2aZiU5rgndBiNJ74NaOKC47ur189ERU3X44VxqX4mqyC6
wuYHQi/EzssKpctGlpSifRYvPQAUeCf+CkDA9q6aMD6VgFciRQ==
-----END CERTIFICATE-----
