<VirtualHost *:{{ port }}>
	ServerAdmin webmaster@localhost
	ServerName {{ serverName }}

	DocumentRoot {{ docRoot }}
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory {{ docRoot }}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>

	ErrorLog /var/log/apache2/{{ errorLog }}

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/{{ accessLog }} combined
</VirtualHost>
