<VirtualHost *:{{ item.value.port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ item.value.serverName }}

    DocumentRoot {{ item.value.docRoot }}
    {% if item.value.sslCertificateFileDir is defined %}
    SSLEngine on
    SSLCertificateFile {{ item.value.sslCertificateFileDir }}/ssl.crt
    SSLCertificateKeyFile {{ item.value.sslCertificateFileDir }}/ssl.key
    {% endif %}
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory {{ item.value.docRoot }}>
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    <IfModule mod_rewrite.c>
        RewriteEngine On
        {% if item.value.siteId is defined %}
        RewriteRule ^/sitemap.xml /{{ item.value.siteId }}/sitemap.xml [L]
        RewriteRule ^/robots.txt /{{ item.value.siteId }}/robots.txt [L]
        {% endif %}
    </IfModule>

    ErrorLog /var/log/apache2/{{ item.value.errorLog }}

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /var/log/apache2/{{ item.value.accessLog }} combined
</VirtualHost>
