@CHARSET "UTF-8";



.contentCaroussel
{
	width: 600px;
	height: auto;
	margin: auto;
}

#slider1_container
{
	width: 600px;
}
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av 
{
    background: url(/bundles/phporchestrasite/images/caroussel/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div 
{
    background-position: -7px -7px;
}

.jssorb05 div:hover, .jssorb05 .av:hover 
{
    background-position: -37px -7px;
}

.jssorb05 .av {
    background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover 
{
    background-position: -97px -7px;
}

   /* jssor slider arrow navigator skin 12 css */
/*
.jssora12l              (normal)
.jssora12r              (normal)
.jssora12l:hover        (normal mouseover)
.jssora12r:hover        (normal mouseover)
.jssora12ldn            (mousedown)
.jssora12rdn            (mousedown)
*/

.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn 
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(/bundles/phporchestrasite/images/caroussel/a12.png) no-repeat;
    overflow: hidden;
}

.jssora12l 
{
    background-position: -16px -37px;
}

.jssora12r 
{
    background-position: -75px -37px;
}

.jssora12l:hover 
{
    background-position: -136px -37px;
}

.jssora12r:hover 
{
    background-position: -195px -37px;
}

.jssora12ldn 
{
    background-position: -256px -37px;
}

.jssora12rdn 
{
    background-position: -315px -37px;
}


#slider1_container
{
	position: relative; 
	top: 0px; 
	left: 0px; 
	width: 600px; 
	height: 300px; 
	overflow: hidden; 
}

.contentCaroussel div
{
	position: absolute; 
	top: 0px; 
	left: 0px;
	filter: alpha(opacity=70); 
	display: block;
	top: 0px; 
	 left: 0px;
	 width: 100%;
	 height:100%;
	
	
}